@CHARSET "UTF-8";

.region-leaderboard {
  background-color: transparent;
}

.region-leaderboard .block {
  margin-bottom: 0;
}

.block-nul-tophat {
  margin:0;
  padding:0;
  height: 66px;
  /*border: solid medium;*/
}
#tophat-nav-container.clearfix {width:100%; display: block; background: url('images/tophat_bg.png'); -moz-box-shadow: 3px 3px 5px 6px #666; -webkit-box-shadow: 3px 3px 5px 6px #666; box-shadow: 3px 3px 5px 6px #666;}
#tophat-nav {width:960px; margin-left:auto; margin-right:auto;}
#block-nul-tophat-tophat .block-inner {margin: 0 0;}
#tophat-nav-left {min-width:230px; height:66px; width:auto; overflow:hidden; float:left; display:inline;}
#tophat-nav-right {min-width:232px; height:66px; width:auto; overflow:hidden; float:right; display:inline; margin-right:-233px;}

#tophat-nav ul{
  list-style-type: none;
}

#tophat-nav ul li a{
  text-decoration: none;
}

#nul-tophat-sites{
  margin: 0 0;
  float: left;
  padding-left: 0;
  width:512px;
}

#nul-tophat-sites li{
  list-style: none;
  display: inline;
  margin:0 0;
  padding:0;
  overflow:hidden;
}

#nul-tophat-sites li a{
  /*text-decoration: none;*/
  display: block;
  width: 64px;
  height: 66px;
  text-indent: -9999px;
  background: url(images/tophat_spritev7.png);
  float: left;
}

li#nulorg a {
  background-position: 0 0;
}

li#nulorg a:hover {
  background-position: 0 -69px;
}

li#nulorg a.active {
  background-position: 0 -136px;
}

li#iaecom a {
  background-position: -64px 0;
}

li#iaecom a:hover {
  background-position: -64px -69px;
}

li#iaecom a.active {
  background-position: -64px -136px;
}

li#conf a {
  background-position: -128px 0;
}

li#conf a:hover {
  background-position: -128px -69px;
}

li#conf a.active {
  background-position: -128px -136px;
}

li#jra a {
  background-position: -192px 0;
}

li#jra a:hover {
  background-position: -192px -69px;
}

li#jra a.active {
  background-position: -192px -136px;
}

li#soba a {
  background-position: -256px 0;
}

li#soba a:hover {
  background-position: -256px -69px;
}

li#soba a.active {
  background-position: -256px -136px;
}

li#beep a {
  background-position: -320px 0;
}

li#beep a:hover {
  background-position: -320px -69px;
}

li#beep a.active {
  background-position: -320px -136px;
}

li#store a {
  background-position: -384px 0;
}

li#store a:hover {
  background-position: -384px -69px;
}

li#store a.active {
  background-position: -384px -136px;
}

li#jobs a {
  background-position: -448px 0;
}

li#jobs a:hover {
  background-position: -448px -69px;
}

li#jobs a.active {
  background-position: -448px -136px;
}

#nul-tophat-ad {
  height: 66px;
  display: inline;
  background:url('images/tophat_bg.png') repeat-x;
  width: 310px;
  float:left;
  vertical-align: middle;
  text-align: center;
  position:relative;
}
#nul-tophat-ad img{
  margin-top:auto;
  margin-bottom:auto;
  vertical-align: middle;
  position: relative;
}

#nul-tophat-ad img {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

#nul-tophat-user-menu {
  width: 118px;
  height: 56px;
  background: url(images/user_bg.gif) repeat-x;
  background-color: #C6C6C6;
  display: inline;
  float: left;
  padding:5px 10px;
  font-size:12px;
  line-height: 1.5em;
}

#nul-tophat-user-menu .nul-tophat-user-link{
  list-style: none;
  display: inline;
}

#nul-tophat-user-menu .nul-tophat-user-link a{
  text-decoration: none;
  color: #C51230;
  font-size:12px;
}


.nul-tophat-user-link {display: block;}
.nul-tophat-arrow {margin-left:5px;}
  